# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# Misc
.vscode

# Images
*.jpg

# Python files
*.py

# Clangd
.cache/
compile_commands.json

# Misc
*.ttf
src/SDL2
*.exe
*.zip
*.png
*.mp4
assets/
tmp/
debug/*
bin/*
src/cpp-lib/*

